/* pricing container */
.pricing-container {
    display: flex;
    flex-direction: column;
    background-color: #e4e4e4;
    padding: 1rem;
    gap: 1rem;
    border-radius: .2rem;
}

.subtotal,
.total,
.tax,
.shipping {
    display: flex;
    justify-content: space-between;
}

.subtotal,
.tax,
.shipping {
    font-size: .8rem;
}

.total {
    font-size: 1rem;
    font-weight: bold;
    border-top: 1px solid #b7b7b7;
    padding-top: 1rem;
}

.pricing-container h3 {
    margin: 0 0 0 0;
}

.checkout-btn {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    background-color: #000;
    border: none;
    border-radius: 4rem;
}

@media (max-width: 767px) {
    .pricing-container {
        width: 80%;
        margin: auto;
    }

    .product-in-cart {
        flex-direction: column;
    }
}